<h3 class="form-title well">7. Additional Information</h3>

    <div class="form-group">
      <label class="control-label col-sm-2" for="additional">Please provide any additional informaton you'd like to include:</label>
      <div class="col-sm-10"> 
        <textarea type="text" class="form-control" rows="7" name="additional" maxlength="150" placeholder="Enter additional information"></textarea>
      </div>
    </div>

<hr>