<h3 class="form-title well">6. Organizational Capacity Challenges</h3>

<div class="row text-center">
  <div class="col-md-9"></div>
  <div class="col-md-3">Please provide the total amount of time you and your staff spend in each focus area expressed in FTEs: </div>
</div>
<br>
<div class="row form-title text-center">
  <!-- <div class="col-md-1"></div> -->
  <div class="col-md-2">Focus Area</div>
  <div class="col-md-5">Please provide a short description (preferably bullets) of your top 1-3 challenge(s) in each area that applies</div>
  <div class="col-md-2"><strong>Priority:</strong> Rank each as high, medium, or low</div>
  <div class="col-md-1">2015 Staffing (actual)</div>
  <div class="col-md-1">2016 Staffing (current)</div>
  <div class="col-md-1">2017 Staffing (projected)</div>
</div>

<hr>