<div class="row">
  <div class="well col-md-9">
    <h4>Business Operations (Accounting, HR, Purchasing, Legal)</h4>
  </div>
  <br>
  <div class="col-md-1">
    <input type="number" class="form-control" id="actual_staff_operations_1" placeholder="FTEs (actual)" min="0">
  </div>
  <div class="col-md-1">
    <input type="number" class="form-control" id="current_staff_operations_1" placeholder="FTEs (current)" min="0">
  </div>
  <div class="col-md-1">
    <input type="number" class="form-control" id="projected_staff_operations_1" placeholder="FTEs (projected)" min="0">
  </div>
</div>

<div class="row form-group">
  <div class="col-md-2"></div>
  <div class="col-md-5">
    <input type="text" class="form-control" id="operations_challenge_1" placeholder="1. Enter a business operations challenge">
  </div>
  <div class="col-md-2">
    <select id="operations_1_priority" class="form-control">
      <option value="">Select priority</option>
      <option value="high">High</option>
      <option value="medium">Medium</option>
      <option value="low">Low</option>
    </select>
  </div>
</div>

<div class="row form-group">
  <div class="col-md-2"></div>
  <div class="col-md-5">
    <input type="text" class="form-control" id="operations_challenge_2" placeholder="2. Enter a business operations challenge">
  </div>
  <div class="col-md-2">
    <select id="operations_2_priority" class="form-control">
      <option value="">Select priority</option>
      <option value="high">High</option>
      <option value="medium">Medium</option>
      <option value="low">Low</option>
    </select>
  </div>
</div> 

<div class="row form-group">
  <div class="col-md-2"></div>
  <div class="col-md-5">
    <input type="text" class="form-control" id="operations_challenge_3" placeholder="3. Enter a business operations challenge">
  </div>
  <div class="col-md-2">
    <select id="operations_3_priority" class="form-control">
      <option value="">Select priority</option>
      <option value="high">High</option>
      <option value="medium">Medium</option>
      <option value="low">Low</option>
    </select>
  </div>
</div>

<hr>
