<h3 class="form-title well">8. Demographics</h3>
<p>Please answer the following questions to help us track the types of organizations that choose to apply for this opportunity.</p>
<h4>Please select the sectors that your programs address:</h4>
<div class="checkbox">
  <label><input type="checkbox" value="" id="addiction">Alcoholism &amp; Addiction</label>
</div>
<div class="checkbox">
  <label><input type="checkbox" value="" id="education">Education</label>
</div>
<div class="checkbox">
  <label><input type="checkbox" value="" id="elderly">Elderly Care</label>
</div>
<div class="checkbox">
  <label><input type="checkbox" value="" id="food">Food</label>
</div>
<div class="checkbox">
  <label><input type="checkbox" value="" id="health">Health &amp; Medical</label>
</div>
<div class="checkbox">
  <label><input type="checkbox" value="" id="homeless">Homelessness</label>
</div>
<div class="checkbox">
  <label><input type="checkbox" value="" id="jobs">Jobs Programs</label>
</div>
<div class="checkbox">
  <label><input type="checkbox" value="" id="mental">Mental Health</label>
</div>
<div class="checkbox">
  <label><input type="checkbox" value="" id="parent">Pregnancy &amp; Parenting</label>
</div>
<div class="checkbox">
  <label><input type="checkbox" value="" id="violence">Violence &amp; Abuse</label>
</div>
<div class="checkbox">
  <label><input type="checkbox" value="" id="other">Other</label>
  <input type="text" id="other_description" placeholder="(Please specify)">
</div>
<hr> 