<h4>Please select your geographic focus. If more than one, pick one based on your main program.</h4>
<div class="row">
  <div class="col-md-5">
    <select name="geo_focus" class="form-control">
      <option value="">Select geographic focus</option>
      <option value="city"<% if @loi_form.geo_focus == "city" %> selected<% end %>>City of Chicago</option>
      <option value="land"<% if @loi_form.geo_focus == "land" %> selected<% end %>>Chicagoland</option>
      <option value="beyond"<% if @loi_form.geo_focus == "beyond" %> selected<% end %>>Chicago and Beyond</option>
      <option value="specific"<% if @loi_form.geo_focus == "specific" %> selected<% end %>>Neighborhood/Area Specific</option>
    </select>
  </div>
  <div class="col-md-5">
    <input class="form-control" type="text" name="other_geo_focus" placeholder="(If Neightborhood/Area, please specify)" value="<%= @loi_form.other_geo_focus %>">
  </div>
</div>
<hr>