<h4>Please select your geographic focus. If more than one, pick one based on your main program.</h4>
<div class="row">
  <div class="col-md-5">
    <select name="geo_focus" class="form-control">
      <option value="">Select geographic focus</option>
      <option value="city">City of Chicago</option>
      <option value="land">Chicagoland</option>
      <option value="beyond">Chicago and Beyond</option>
      <option value="specific">Neighborhood/Area Specific</option>
    </select>
  </div>
  <div class="col-md-5">
    <input class="form-control" type="text" name="other_geo_focus" placeholder="(If Neightborhood/Area, please specify)">
  </div>
</div>
<hr>