<h3 class="form-title well">3. Overview and Mission</h3>

    <div class="form-group">
      <label class="control-label col-sm-2" for="mission">Provide a <em>brief</em> summary of your organization’s mission and history. Please provide your organization’s mission statement, if you have one.</label>
      <div class="col-sm-10"> 
        <textarea type="text" class="form-control" rows="7" name="mission" placeholder="Mission and history: please limit to 500 words."><%= @loi_form.mission %></textarea>
      </div>
    </div>
<hr>