<h3 class="form-title well">4. Vision</h3>

    <div class="form-group">
      <label class="control-label col-sm-2" for="vision">What is your organization’s vision and what do you hope to accomplish over the next three years?</label>
      <div class="col-sm-10"> 
        <textarea type="text" class="form-control" rows="7" name="vision" maxlength="150" placeholder="Vision: limit to 150 characters."></textarea>
      </div>
    </div>

<hr>