<div ng-controller="adminPanelController" ng-init="setup()">
    <h2>Admin Panel</h2>
    <div class="panel panel-default">
        <div class="panel-heading"><b>Invite Partner to SVP</b></div>
        <div class="panel-body">
            <form>
                <div class="form-group">
                    <label for="inputEmail">Email Address</label>
                    <input type="email" class="form-control" id="inputEmail" placeholder="Enter Invitee's Email Address" ng-model="invitee.email">
                    <div class="checkbox">
                        <label for="adminCheck"><input id="adminCheck" type="checkbox" ng-model="invitee.super_admin">Give admin access?</label>
                    </div>
                    <button type="submit" class="btn btn-default" ng-click="invitePartner(invitee)">Submit</button>
                </div>
            </form>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading"><b>User Managment</b></div>
        <div class="panel-body">
            <uib-tabset>
                <uib-tab heading="Partner Accounts">
                    <table class="table table-striped">
                        <thead><tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Edit Info</th>
                            <th>Delete</th>
                            <th>Admin Rights</th>
                        </tr></thead>
                        <tbody>
                            <tr ng-repeat="partner in partners">
                                <td></td>
                                <td>{{ partner.email }}</td>
                                <td><button class="btn btn-info">Edit</button></td>
                                <td><button class="btn btn-danger">Delete</button></td>
                                <td><button class="btn btn-warning">Grant</button></td>
                                <td ng-if="!partner.confirmed"><button class="btn btn-primary">Resend Activation</button></td>
                            </tr>
                        </tbody>
                    </table>
                </uib-tab>
                <uib-tab heading="Admin Accounts">
                    <table class="table table-striped">
                        <thead><tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Edit Info</th>
                            <th>Delete</th>
                            <th>Admin Rights</th>
                        </tr></thead>
                        <tbody>
                            <tr ng-repeat="admin in admins">
                                <td></td>
                                <td>{{ admin.email }}</td>
                                <td><button class="btn btn-info">Edit</button></td>
                                <td><button class="btn btn-danger">Delete</button></td>
                                <td><button class="btn btn-warning">Rescind</button></td>
                                <td ng-if="!admin.confirmed"><button class="btn btn-primary">Resend Activation</button></td>
                            </tr>
                        </tbody>
                    </table>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
</div>
