<div ng-controller="LoiFormController">
    <h2>Admin Panel</h2>
    <div class="panel panel-default">
        <div class="panel-heading">Invite Partner to SVP</div>
        <div class="panel-body">
            <form>
                <div class="form-group">
                    <label for="inputEmail">Email Address</label>
                    <input type="email" class="form-control" id="inputEmail" placeholder="Enter Invitee's Email Address">
                    <div class="checkbox">
                        <label for="adminCheck"><input id="adminCheck" type="checkbox">Give admin access?</label>
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
