<h2>Submitted Request for Investment Proposals</h2>
<table>
  <tr>
    <th>Organization</th>
    <th>Date submitted</th>
  </tr>
<% @rfp_forms.each do |rfp_form| %>
  <tr>
    <td><h4><%= loi_form.created_at.strftime("%B %d, %Y") %></h4></td>
  </tr>
<% end %>
</table>
