<h1>2016 SVP Chicago Letter of Interest </h1>
<h2>Sector Focus:  Breaking the Cycle of Poverty</h2>
<h3>Completing this Form:</h3>
<p>Please enter information directly into the form, using this form as the main body of your Letter of Interest.</p>
<ul>
  <li>If you find an item confusing, please feel free to contact us.</li>
  <li>Please use bullet points rather than paragraphs.</li>
  <li>Brevity is helpful to our partners when reviewing proposals.</li>
</ul>
<h3 class="form-title">1. Contact Information</h3>

<form class="form-horizontal" role="form">
    <div class="form-group">
      <label class="control-label col-sm-2" for="organization">Organization:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="organization" placeholder="Enter organization name">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="website">Address:</label>
      <div class="col-sm-10">          
        <input type="text" class="form-control" id="address" placeholder="Enter street address">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="phone">Phone:</label>
      <div class="col-sm-10">          
        <input type="tel" class="form-control" id="phone" placeholder="Enter phone number">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="website">Website:</label>
      <div class="col-sm-10"> 
        <input type="url" class="form-control" id="website" placeholder="https://">
      </div>
    </div>
    <hr>
    <div class="form-group">
      <label class="control-label col-sm-2" for="executive">Executive Director:</label>
      <div class="col-sm-10"> 
        <input type="text" class="form-control" id="executive" placeholder="Enter name">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="executive_phone">Phone:</label>
      <div class="col-sm-10"> 
        <input type="tel" class="form-control" id="executive_phone" placeholder="Enter phone">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="executive_email">Email:</label>
      <div class="col-sm-10"> 
        <input type="email" class="form-control" id="executive_email" placeholder="Enter email address">
      </div>
    </div>
    <hr>
    <div class="form-group">
      <label class="control-label col-sm-2" for="contact">Proposal Contact:</label>
      <div class="col-sm-10"> 
        <input type="text" class="form-control" id="contact" placeholder="Enter name and title">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="contact_phone">Phone:</label>
      <div class="col-sm-10"> 
        <input type="tel" class="form-control" id="contact_phone" placeholder="Enter phone">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="employees">Email:</label>
      <div class="col-sm-10"> 
        <input type="email" class="form-control" id="contact_email" placeholder="Enter email">
      </div>
    </div>
<hr>    
<h3 class="form-title">2. Organization</h3>

    <div class="form-group">
      <label class="control-label col-sm-2" for="employees">Employees:</label>
      <div class="col-sm-10"> 
        <input type="number" class="form-control" id="employees" placeholder="Enter total number" min="0">
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="volunteers">Volunteers:</label>
      <div class="col-sm-10"> 
        <input type="number" class="form-control" id="volunteers" placeholder="Enter total number" min="0">
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="board">Active Board Members:</label>
      <div class="col-sm-10"> 
        <input type="number" class="form-control" id="board" placeholder="Enter total number" min="0">
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="board">Total annual budget for organization:</label>
      <div class="col-sm-10"> 
        <input type="text" class="form-control" id="board" placeholder="Enter annual budget">
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="affiliated">If affiliated with a national or parent organization, what role does the organization play in your strategic direction, operations, and overall governance?</label>
      <div class="col-sm-10"> 
        <textarea type="text" class="form-control" rows="7" id="affiliated" maxlength="150" placeholder="Role of Affiliations: limit to 150 characters."></textarea>
      </div>
    </div>
<hr>
<h3 class="form-title">3. Overview and Mission</h3>

    <div class="form-group">
      <label class="control-label col-sm-2" for="mission">Provide a <em>brief</em> summary of your organization’s mission and history. Please provide your organization’s mission statement, if you have one.</label>
      <div class="col-sm-10"> 
        <textarea type="text" class="form-control" rows="7" id="mission" maxlength="150" placeholder="Mission and history: limit to 150 characters."></textarea>
      </div>
    </div>
<hr>
<h3 class="form-title">4. Vision</h3>

    <div class="form-group">
      <label class="control-label col-sm-2" for="vision">What is your organization’s vision and what do you hope to accomplish over the next three years?</label>
      <div class="col-sm-10"> 
        <textarea type="text" class="form-control" rows="7" id="vision" maxlength="150" placeholder="Vision: limit to 150 characters."></textarea>
      </div>
    </div>

<hr>
<h3 class="form-title">5. Key Concerns</h3>

    <div class="form-group">
      <label class="control-label col-sm-2" for="concerns">Short description (preferably bullets) of the 1-3 things that keep you up at night.</label>
      <div class="col-sm-10"> 
        <textarea type="text" class="form-control" rows="7" id="concerns" maxlength="150" placeholder="Concerns: limit to 150 characters."></textarea>
      </div>
    </div>

<hr>
<h3 class="form-title">6. Organizational Capacity Challenges</h3>

<div class="row">
  <div class="col-md-9"></div>
  <div class="col-md-3">Please provide the total amount of time you and your staff spend in each focus area expressed in FTEs: </div>
</div>
<br>
<div class="row form-title">
  <!-- <div class="col-md-1"></div> -->
  <div class="col-md-2">Focus Area</div>
  <div class="col-md-5">Please provide a short description (preferably bullets) of your top 1-3 challenge(s) in each area that applies</div>
  <div class="col-md-2"><strong>Priority:</strong> Rank each as high, medium, or low</div>
  <div class="col-md-1">2015 Staffing (actual)</div>
  <div class="col-md-1">2016 Staffing (current)</div>
  <div class="col-md-1">2017 Staffing (projected)</div>
</div>

<hr>

<div class="well"><h4>Board Development &amp; Governance</h4></div>

<div class="row form-group">
  <div class="col-md-2"></div>
  <div class="col-md-5">
    <input type="text" class="form-control" id="board_challenge_1" placeholder="1. Enter a board challenge">
  </div>
  <div class="col-md-2">
    <select id="board_1_priority" class="form-control">
      <option value="">Select priority</option>
      <option value="high">High</option>
      <option value="medium">Medium</option>
      <option value="low">Low</option>
    </select>
  </div>
  <div class="col-md-1">
    <input type="number" class="form-control" id="actual_staff_board_1" placeholder="FTEs (actual)" min="0">
  </div>
  <div class="col-md-1">
    <input type="number" class="form-control" id="current_staff_board_1" placeholder="FTEs (current)" min="0">
  </div>
  <div class="col-md-1">
    <input type="number" class="form-control" id="projected_staff_board_1" placeholder="FTEs (projected)" min="0">
  </div>
</div>

<div class="row form-group">
  <div class="col-md-2"></div>
  <div class="col-md-5">
    <input type="text" class="form-control" id="board_challenge_2" placeholder="2. Enter a board challenge">
  </div>
  <div class="col-md-2">
    <select name="cars" class="form-control">
      <option value="">Select priority</option>
      <option value="high">High</option>
      <option value="medium">Medium</option>
      <option value="low">Low</option>
    </select>
  </div>
  <div class="col-md-1">
    <input type="number" class="form-control" id="actual_staff_board_2" placeholder="FTEs (actual)" min="0">
  </div>
  <div class="col-md-1">
    <input type="number" class="form-control" id="current_staff_board_2" placeholder="FTEs (current)" min="0">
  </div>
  <div class="col-md-1">
    <input type="number" class="form-control" id="projected_staff_board_2" placeholder="FTEs (projected)" min="0">
  </div>
</div> 

<div class="row form-group">
  <div class="col-md-2"></div>
  <div class="col-md-5">
    <input type="text" class="form-control" id="board_challenge_3" placeholder="3. Enter a board challenge">
  </div>
  <div class="col-md-2">
    <select name="cars" class="form-control">
      <option value="">Select priority</option>
      <option value="high">High</option>
      <option value="medium">Medium</option>
      <option value="low">Low</option>
    </select>
  </div>
  <div class="col-md-1">
    <input type="number" class="form-control" id="actual_staff_board_3" placeholder="FTEs (actual)" min="0">
  </div>
  <div class="col-md-1">
    <input type="number" class="form-control" id="current_staff_board_3" placeholder="FTEs (current)" min="0">
  </div>
  <div class="col-md-1">
    <input type="number" class="form-control" id="projected_staff_board_3" placeholder="FTEs (projected)" min="0">
  </div>
</div>


<hr>

<div class="well"><h4>Business Operations (Accounting, HR,
 Purchasing, Legal)</h4></div>

<div class="row form-group">
  <div class="col-md-2"></div>
  <div class="col-md-5">
    <input type="text" class="form-control" id="operations_challenge_1" placeholder="1. Enter a business operations challenge">
  </div>
  <div class="col-md-2">
    <select id="operations_1_priority" class="form-control">
      <option value="">Select priority</option>
      <option value="high">High</option>
      <option value="medium">Medium</option>
      <option value="low">Low</option>
    </select>
  </div>
  <div class="col-md-1">
    <input type="number" class="form-control" id="actual_staff_operations_1" placeholder="FTEs (actual)" min="0">
  </div>
  <div class="col-md-1">
    <input type="number" class="form-control" id="current_staff_operations_1" placeholder="FTEs (current)" min="0">
  </div>
  <div class="col-md-1">
    <input type="number" class="form-control" id="projected_staff_operations_1" placeholder="FTEs (projected)" min="0">
  </div>
</div>

<div class="row form-group">
  <div class="col-md-2"></div>
  <div class="col-md-5">
    <input type="text" class="form-control" id="operations_challenge_2" placeholder="2. Enter a business operations challenge">
  </div>
  <div class="col-md-2">
    <select name="cars" class="form-control">
      <option value="">Select priority</option>
      <option value="high">High</option>
      <option value="medium">Medium</option>
      <option value="low">Low</option>
    </select>
  </div>
  <div class="col-md-1">
    <input type="number" class="form-control" id="actual_staff_operations_2" placeholder="FTEs (actual)" min="0">
  </div>
  <div class="col-md-1">
    <input type="number" class="form-control" id="current_staff_operations_2" placeholder="FTEs (current)" min="0">
  </div>
  <div class="col-md-1">
    <input type="number" class="form-control" id="projected_staff_operations_2" placeholder="FTEs (projected)" min="0">
  </div>
</div> 

<div class="row form-group">
  <div class="col-md-2"></div>
  <div class="col-md-5">
    <input type="text" class="form-control" id="operations_challenge_3" placeholder="3. Enter a business operations challenge">
  </div>
  <div class="col-md-2">
    <select name="cars" class="form-control">
      <option value="">Select priority</option>
      <option value="high">High</option>
      <option value="medium">Medium</option>
      <option value="low">Low</option>
    </select>
  </div>
  <div class="col-md-1">
    <input type="number" class="form-control" id="actual_staff_operations_3" placeholder="FTEs (actual)" min="0">
  </div>
  <div class="col-md-1">
    <input type="number" class="form-control" id="current_staff_operations_3" placeholder="FTEs (current)" min="0">
  </div>
  <div class="col-md-1">
    <input type="number" class="form-control" id="projected_staff_operations_3" placeholder="FTEs (projected)" min="0">
  </div>
</div>







    <hr>
    <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Submit</button>
      </div>
    </div>
  </form>
